<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405456936200-gm6muuvd9sacu4e6onolq8m3q3br6cgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405456936200-gm6muuvd9sacu4e6onolq8m3q3br6cgq</string>
	<key>API_KEY</key>
	<string>AIzaSyA_0obFhhHlvnGUHW6c1Zns3a9ytSjax5I</string>
	<key>GCM_SENDER_ID</key>
	<string>405456936200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>recuperaposte</string>
	<key>PROJECT_ID</key>
	<string>recuperaposte</string>
	<key>STORAGE_BUCKET</key>
	<string>recuperaposte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405456936200:ios:d000fea1b75f1e7dd9e0bd</string>
</dict>
</plist>